body {
    background-color:whitesmoke !important ;
  }
.App{
    text-align: center;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background:gray;
color: white;

    
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

.todo-item{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 30px 20px 0;
width: 70%;
border-bottom: 1px solid #cecece;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size:15px;
color: #333333;
}

input[type=checkbox]{
    margin-right: 10px;
    font-size: 30px;
    
}
input[type=checkbox]:focus{
    outline: 0;
}

.todo-list{
    background-color: white;
    margin:auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
    margin-top: 5vh;
}
.jumbotron{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, 
    rgba(2,0,36,1) 13%, 
    rgba(39,39,143,1) 38%, 
    rgba(0,212,255,1) 83%);
  color:white !important;
  height:auto;
  }
 .App-intro{
     font-size: 50;
 }
 
 .centerItem{
    display : flex;
    align-items : center;
    justify-content: center;
    margin-top: 10vh;
    
 }

 .centerText{
     text-align: center;
     margin-top: 10vh;
 }